<!DOCTYPE html>
<html lang="fr">
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'LesTaches/bootstrap.min.css' %}"  charset="utf-8">
    <link rel="stylesheet" href="{% static 'LesTaches/bootstrap-material-design.min.css' %}"  charset="utf-8">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <meta charset="utf-8">
    <title>Les Taches</title>
  </head>

  <body>
<div class="col-xs-10 col-md-offset-1 " style="text-align:center;">
  <form name="formulaire" class="" action="add" method="get">
    {% csrf_token %}
    {% block content %}
    <table class="table table-hover ">
      <thead>
      <tr id="0">
        <th>Supprimer</th>
        <th>Modifier</th>
        <th> nom </th>
        <th> description </th>
        <th> created_date </th>
        <th> schedule_date </th>
        <th> due_date </th>
        <th> closed </th>
      </tr>
      </thead>
      <tbody>
      {% for elem in objets %}
      <tr id="{{elem.id}}" scope="row">
        <td><a  href="delete/{{elem.id}}"><i class="material-icons " style="color:red;">delete</i></a></td>
        <td><a href="modif/{{elem.id}}"><i class="material-icons" style="color:orange;">mode_edit</i></a></td>
        <td >{{elem.name}}</td>
        <td>{{elem.description}}</td>
        <td>{{elem.created_date}}</td>
        <td>{{elem.schedule_date}}</td>
        <td>{{elem.colored_due_date}}</td>
        <td>{{elem.closed}}</td>

      </tr>
      {% endfor %}
      </tbody>
    </table>
    {% endblock %}
    <div class="col-xs-12 " style="text-align:center;">
      <input type="submit" name="Ajouter" value="Ajouter" class="btn btn-raised btn-success">
    </div>
    </form>

</div>



    </div>
  </body>
</html>
