<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>modif</title>
  </head>
  <body>

  </body>
</html>
<form action="" method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value=" submit! ">
</form>
